
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}


.center_page
{
  width: 50%;
    margin-left: 25%;
    margin-top: 7%;
}


a
{
  float: right;
  margin: 21px;
  width: 30%;
  font-family: cursive;
  font-size: smaller;
}

input[type=text], input[type=password],input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  margin-left: 20%;
  font-size: medium;
}





.label_container{
  margin-top: 15px;
  margin-bottom: 5px;
}

.container {
  padding: 16px;
 
    
}

.button_container{
margin-top: 25px;
margin-top: 25px;
display: flex;
flex-direction: row;

}





#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
 fill: none;
  opacity: 0.15;
  
  stroke: #ef1b1b;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}
