<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script defer src="./client/js/validator.js"></script>
    <script  src="./client/js/login.js"></script>
  


    <link rel="stylesheet" href="./client/css/login.css"/>
  
     
    <title>Ticket booking app</title>
  

</head>
<body>
<body class="center_page">


  <h2>Login Form</h2>
  <form>


    <div class="container">
      <div class="label_container">
        <label for="uname"><b>Username</b></label>
        <input type="text" tabindex="1" id="Username" placeholder="Enter Username"  required>
      </div>

      <div class="label_container">
        <label for="psw"><b>Password</b></label>
        <input type="password" tabindex="2" id="password" placeholder="Enter Password"  required>
      </div>
      
      

      <div class="button_container">


        <a href="/signIn">New user? Sign-In</a>
        <!-- <a href="http://127.0.0.1:8000/sigin">New user? Sign-In</a> -->

        <button id="login_btn" tabindex="3" type="button">Login</button>

      </div>
    </div>

  </form>

</body>
</body>
</html>