<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script  src="./client/js/welcome.js"></script>
    <link rel="stylesheet" href="./client/css/welcome.css"/>
</head>
<body>
    <div class="container">
        <div class="main">

            <div class="heading"> Hello,</div>
            I'm benny Immanuel made a ticket booking application using
            <br>
            <ul>
                <li>MOngoDB</li>
                <li>Javascript</li>
                <li>Jquery</li>
                <li>Ajax</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                
            </ul>
            <br>
            <a class="loginBtn" href="/login" >Login</a>
          
            <br>
            <br>
            <br>
            If there is an error or if you don't know how it works <br> 
            contact me <br> phone number (same for whats app):7448688608 ,<br>emailID:beenibenny@gmail.com 
    <br>
    <br>
    Click this button to reset the DataBase
    <br>
    <br>
    <br>
    <a class="resetDb" href="/resetDB" >Reaset DataBase</a>
    

        </div>
    </div>
    
</body>
</html>